@import './styles/layout';
@import './styles/navbar';
@import './styles/title';
@import './styles/typography';
@import './styles/about';
@import './styles/testimonials';



*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  --grey: #a4acc4;
  --darkgrey: #2e344e;
  --navy:#0381ff33;
  --darknavy:#585757;
  --almostblack:  #10121B;
}

body{
  color:var(--grey);
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 1.2rem;
}
span{
  color:var(--navy);
}