.HomePage{
  position: absolute;
  min-width: 100%;
  min-height: 90%;
  top: 50%;
  left: 50%;
  transform:translate(-50%, -50%);
    img{
      display: block;
      margin-left: auto;
      margin-right: auto;
      max-width: 100%;
      height: auto;
      width: auto\9;
    }
    .fade-in-image {
      animation: fadeIn 1s;
      -webkit-animation: fadeIn 1s;
      -moz-animation: fadeIn 1s;
      -o-animation: fadeIn 1s;
      -ms-animation: fadeIn 1s;
    }
    @keyframes fadeIn {
      0% {opacity:0;}
      100% {opacity:1;}
    }
    @-moz-keyframes fadeIn {
      0% {opacity:0;}
      100% {opacity:1;}
    }
    @-webkit-keyframes fadeIn {
      0% {opacity:0;}
      100% {opacity:1;}
    }
    @-o-keyframes fadeIn {
      0% {opacity:0;}
      100% {opacity:1;}
    }
    @-ms-keyframes fadeIn {
      0% {opacity:0;}
      100% {opacity:1;}
    }
}
.hero-text{
  span{
    text-align: center;
    font-size: 3.5rem
  }
}

.h-sub-text{
  text-align: center;
}

.icons{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 0;
  .icon-holder{
    margin-right: 1rem;
    .icon{
      font-size: 2.5rem;
      padding: 1rem;
      color: var(--grey);
      transition: all ,4s ease-in-out;
      }
      .gh:hover{
        color:purple;
      }
    }
  }